{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/offyt_app-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather+Sans:wght@700&family=Roboto+Mono&display=swap" rel="stylesheet">

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
  

    <title>offyt - home</title>
</head>
<body class="debug-screens bg-slate-200 dark:bg-zinc-900 transition-colors duration-300 " style="display: grid; place-items: center;">
<div class="md:w-3/4 w-11/12">
  <nav class= "border-gray-200 w-full mb-16">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="" class="flex items-center">
          <img src="{% static 'images/offyt_white.svg' %}" class="h-10 mr-3" alt="offyt logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-900 dark:text-white font-roboto">off-yt</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:ring-blue-300 dark:text-gray-400 dark:hover:bg-gray-700" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-kanit font-medium text-xl flex flex-col p-4 md:p-0 border border-gray-500 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Tool</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Socials</a>
          </li>
          <li>
              <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm">
              <svg id="theme-toggle-dark-icon" class="hidden w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
              <svg id="theme-toggle-light-icon" class="hidden w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="input_div mb-12">
      <h1 class="lg:text-2xl text-xl text-zinc-800 dark:text-zinc-300 tracking-tight font-roboto mb-8">Paste Youtube Playlist ID (text after playlist?list=..)</h1>
      <form action="/search" method="get" id="playlist_search">   
      <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                
          </div>
          <input type="search" id="search" name="id" class="block font-kanit w-full p-3 pl-10 text-lg text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-red-500 dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500" placeholder="Ex: PLwp75lRfJrvaXFe5Eh1SqBOAFknfIjSp7" required>
          
          <button type="submit" class="text-white absolute font-kanit right-2.5 bottom-1 bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Search!</button>
      </div>
      <label for="remember" class="ml-2 text-lg font-medium text-gray-900 dark:text-gray-300"><b>*note*</b> playlist visibility should be public</label>
      </form>
  </div>


  <div class="playlist-content">
      <div class="lg:flex gap-4 sm:justify-between mb-8">
        {% for detail in generated_videos %}
          <h1 class="lg:text-2xl text-xl text-zinc-800 dark:text-zinc-300 font-roboto mb-8">Videos in {{ detail.playlist_name }} :</h1>

          <ul class="flex gap-4 lg:text-xl text-lg text-zinc-800 dark:text-zinc-300 font-roboto tracking-tighter">
            <li><h1>Total Fetched: {{ detail.total_generated }}</h1></li>

            <li><h1>Failed to Fetch: {{ detail.exception_check }}</h1></li>
          </ul>
        {% endfor %}
      </div>


      <div class="vid_search_cont">

        <h1 class="lg:text-2xl text-xl text-zinc-800 dark:text-zinc-300 font-roboto mb-8">Search :</h1>

        <div class="md:flex flex-col gap-4">
          <form action="/search/video" method="get" id="fuzzy_vid_search" class="w-full">   
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                      
                </div>
                <input type="search" id="search" name="id" class="block font-kanit w-full p-3 pl-10 text-lg text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-red-500 dark:bg-zinc-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500 md:mb-0 mb-5" placeholder="Ex: PLwp75lRfJrvaXFe5Eh1SqBOAFknfIjSp7" required>
                <button type="submit" class="text-white absolute font-kanit right-2.5 bottom-1 bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-lg px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Search!</button>
            </div>
          </form>

          <div class="inline-flex shadow-sm gap-4" role="group">
            <button id="sel_desel_text" type="button" form="download_video" onclick="toggle_sel_desel()" class="rounded-md inline-flex items-center px-8 py-2 text-sm font-medium text-gray-900 bg-gray-50 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-zinc-700 dark:border-gray-600 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white">
              Select All
            </button>
            <button type="submit" form="download_video" class="rounded-md inline-flex items-center px-8 py-2 text-sm font-medium text-gray-900 bg-gray-50 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-2 focus:ring-red-700 focus:text-red-700 dark:bg-zinc-700 dark:border-gray-600 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-red-500 dark:focus:text-white">

              <svg aria-hidden="true" class="w-4 h-4 mr-2 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>
              Download
            </button>
          </div>

        </div>

      </div>


     
      
      
      <form method="get" action="/search/download" id="download_video" class="bg-zinc-900 dark:bg-gray-200 shadow">
      <div class="divide-y divide-dotted divide-gray-500">
      {% for video in playlist_details %}
        <div class="flex flex-1 justify-between lg:p-4 p-2">
            <div class="block">
              <h5 class="font-roboto mb-2 lg:text-lg text-lg font-bold tracking-tight dark:text-gray-900 text-gray-100">{{ video.title }}</h5>
              <p class="lg:text-md text-md text-gray-200 dark:text-gray-800">Author: {{ video.author }}</p>
            </div>
            <div>
              <input id="video_checkbox" value="{{ video.link }}" name="check_vid" class="video_check" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            </div>
        </div>
        {% endfor %}
      </form>

    </div>


  <!-- MIT License Modal -->


  <!-- bg-slate-200 dark:bg-zinc-900-->

  <!-- Main modal -->
  <div id="modal-license" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
      <div class="relative w-full h-full max-w-2xl md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-slate-200 dark:bg-zinc-900 rounded-lg shadow">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b border-gray-500 rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-zinc-800 dark:text-zinc-300 font-roboto">
                      MIT License - Copyright (c) 2023 off-yt
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-license">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 font-kanit">
                    Permission is hereby granted, free of charge, to any person obtaining a copy
                    of this software and associated documentation files (the "Software"), to deal
                    in the Software without restriction, including without limitation the rights
                    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                    copies of the Software, and to permit persons to whom the Software is
                    furnished to do so, subject to the following conditions:
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 font-kanit">
                    The above copyright notice and this permission notice shall be included in all
                    copies or substantial portions of the Software.
                  </p>
                  <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 font-kanit">
                    
                    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                    SOFTWARE.
                  </p>
              </div>
              <!-- Modal footer -->
              <div class="flex items-center p-6 space-x-2 border-t border-gray-500 rounded-b dark:border-gray-600">
                  <button data-modal-hide="modal-license" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-bold font-roboto rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:red-blue-800">I accept</button>

              </div>
          </div>
      </div>
  </div>


  <!-- Contact Modal -->


  <!-- bg-slate-200 dark:bg-zinc-900-->

  <!-- Main modal -->
  <div id="contact-license" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-2xl md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-slate-200 dark:bg-zinc-900 rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b border-gray-500 rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-zinc-800 dark:text-zinc-300 font-roboto">
                    My Socials - Come Say Hi!
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="contact-license">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 font-kanit hover:translate-x-6 transition-transform ease-in-out duration-300">
                  <a href="https://www.linkedin.com/in/shaam-dev/" target="_blank" rel="noopener noreferrer" class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-7 w-7 mr-2" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                    <span class="self-center flex gap-2 text-2xl font-semibold whitespace-nowrap text-gray-900 dark:text-white font-kanit">Linkedin - Shaam</span>
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 font-kanit hover:translate-x-6 transition-transform ease-in-out duration-300">
                  <a href="https://github.com/Shaam-K" target="_blank" rel="noopener noreferrer"  class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-7 w-7 mr-2" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                    <span class="self-center flex gap-2 text-2xl font-semibold whitespace-nowrap text-gray-900 dark:text-white font-kanit">Github - Shaam-k</span>
                </p>
            </div>
        </div>
    </div>
  </div>



  <footer id="offyt-footer" class="bg-slate-200 dark:bg-zinc-900 mt-56" style="height:max-content">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex flex-1">
              <span class="self-center flex gap-4 text-2xl font-semibold whitespace-nowrap text-gray-900 dark:text-white font-kanit">Made by Shaam with <svg aria-hidden="true" class="w-8 h-8 animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z"></path>
              </svg></span>
          </a>
            <ul class="flex flex-wrap font-kanit items-center mb-6 text-lg font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Git Repo</a>
                </li>
                <li>
                    <a data-modal-target="modal-license" data-modal-toggle="modal-license" href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
                </li>
                <li>
                    <a href="#" data-modal-target="contact-license" data-modal-toggle="contact-license" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-500 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="md:block hidden text-md text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#">offyt</a></span>
    </div>
  </footer>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
<script src="{% static 'js/checkbox.js' %}"></script>
<script>
var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

// Change the icons inside the button based on previous settings
if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    themeToggleLightIcon.classList.remove('hidden');
} else {
    themeToggleDarkIcon.classList.remove('hidden');
}

var themeToggleBtn = document.getElementById('theme-toggle');

themeToggleBtn.addEventListener('click', function() {

    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle('hidden');
    themeToggleLightIcon.classList.toggle('hidden');

    // if set via local storage previously
    if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        } else {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        }

    // if NOT set via local storage previously
    } else {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        }
    }
    
});
</script>
</body>
</html>